/* layout for input fields */
input[type=text], textarea {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	padding: 3px 0px 3px 3px;
	margin: 5px 1px 3px 0px;
	border: 1px solid #DDDDDD;
	box-shadow: 10px 10px 10px 0px grey;
}

input[type=text]:focus, textarea:focus {
	box-shadow: 10px 10px 10px 0px rgba(81, 203, 238, 1);
	padding: 3px 0px 3px 3px;
	margin: 5px 1px 3px 0px;
	border: 1px solid rgba(81, 203, 238, 1);
}

.buttonCell {
	height: 80px;
}

.errorMessage {
	color: red;
	font-weight: bolder;
	font-size: 17px;
}

.horizontalLine {
	width: 95%
	font-size: 1px;
	color: rgba(0, 0, 0, 0);
	line-height: 1px;

	background-color: grey;
	margin-top: -6px;
	margin-bottom: 10px;
}
