html {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f6f8+0,d8e1e7+50,b5c6d0+51,e0eff9+100;Grey+Gloss+%232 */
background: rgb(242,246,248); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

background-attachment: fixed;
}

body {
  margin-top: 0px;
  margin-bottom: 0px;
}

.centered{ text-align: center; }

.toolbar2{
	width: 500px;
}

.horizontalLine {
	width: 95%;
	font-size: 1px;
	color: rgba(0, 0, 0, 0);
	line-height: 1px;

	background-color: grey;
	margin-top: -6px;
	margin-bottom: 10px;
}
.verticallyalign {
	position: relative;
	top: 50%;
	transform: perspective(1px) translateY(-50%);
}
/*
table.displayTable {
border-collapse: collapse;
border: 1px solid black;
}

th.displayTable {
height:50px;
}

.displayTable th, .displayTable td {
padding-left: 15px;
padding-right: 15px;
}
*/
/*
.tabuler_data tr:nth-child(odd):hover td, tbody tr.odd:hover td {background:#8888ff;}
.tabuler_data tr:nth-child(even):hover td, tbody tr.even:hover td {background:#8888ff;}
.tabuler_data tr:nth-child(odd) td, tbody tr.odd td {background:#88ff88;}
.tabuler_data tr:nth-child(even) td, tbody tr.even td {background:white;}
*/

.centerTable { margin: 0px auto; }

.centered {
 text-align: center;
}
/*
	easyui datagrid: these lines are necessary to show the selected row
	if background color is changed for a row
*/
.datagrid-row-over td{
	background:#D0E5F5;
}
.datagrid-row-selected td{
	background:#FBEC88;
}
